@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

body {   background: #dd0f08; }
nav ul {  list-style-type: none; display: flex;   gap: 10px;   justify-content: center; }
nav ul li {   text-align: center; cursor: pointer;}

/* Navigation 1 */
.nav1 li{color: #fff}
.glow-on-hover {     width: 220px;     line-height: 50px;     border: none;     outline: none;     color: #fff;     background: #111;     cursor: pointer;     position: relative;     z-index: 0;     border-radius: 10px; }
.glow-on-hover:before {     content: '';     background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);     position: absolute;     top: -2px;     left:-2px;     background-size: 400%;     z-index: -1;     filter: blur(5px);     width: calc(100% + 4px);     height: calc(100% + 4px);     animation: glowing 20s linear infinite;     opacity: 0;     transition: opacity .3s ease-in-out;     border-radius: 10px; }
.glow-on-hover:active {     color: #000 }
.glow-on-hover:active:after {     background: transparent; }
.glow-on-hover:hover:before {     opacity: 1; }
.glow-on-hover:after {     z-index: -1;     content: '';     position: absolute;     width: 100%;     height: 100%;     background: #111;     left: 0;     top: 0;     border-radius: 10px; }
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* End Navigation 1 */


/* Navigation 2 */
.slideLeft:hover::before {   width: 100%; }
.slideLeft {   display: inline-block;   padding: 0.75rem 1.25rem;   border-radius: 10rem;   color: #fff;   text-transform: uppercase;   font-size: 1rem;   letter-spacing: 0.15rem;   transition: all 0.3s;   position: relative;   overflow: hidden;   z-index: 1; }
.slideLeft::after {   content: "";   position: absolute;   bottom: 0;   left: 0;   width: 100%;   height: 100%;   background-color: #0cf;   border-radius: 10rem;   z-index: -2; }
.slideLeft::before {   content: "";   position: absolute;   bottom: 0;   left: 0;   width: 0%;   height: 100%;   background-color: #008fb3;   transition: all 0.3s;   border-radius: 10rem;   z-index: -1; }
/* END Navigation 2 */

/* Navigation 3 */
.btn {   line-height: 50px;   height: 50px;   text-align: center;   width: 250px;   cursor: pointer; }
.btn-one {   color: #FFF;   transition: all 0.3s;   position: relative; }
.btn-one span {   transition: all 0.3s; }   
.btn-one::before {   content: '';   position: absolute;   bottom: 0;   left: 0;   width: 100%;   height: 100%;   z-index: 1;   opacity: 0;   transition: all 0.3s;   border-top-width: 1px;   border-bottom-width: 1px;   border-top-style: solid;   border-bottom-style: solid;   border-top-color: rgba(255,255,255,0.5);   border-bottom-color: rgba(255,255,255,0.5);   transform: scale(0.1, 1); }
.btn-one:hover span {   letter-spacing: 2px; }
.btn-one:hover::before {   opacity: 1;    transform: scale(1, 1);  }
.btn-one::after {   content: '';   position: absolute;   bottom: 0;   left: 0;   width: 100%;   height: 100%;   z-index: 1;   transition: all 0.3s;   background-color: rgba(255,255,255,0.1); }
.btn-one:hover::after {   opacity: 0;    transform: scale(0.1, 1); }
/* ENd Navigation 3 */

/* Navigation 4 */
.btn-three {   color: #FFF;   transition: all 0.5s;   position: relative; }
.btn-three::before {   content: '';   position: absolute;   top: 0;   left: 0;   width: 100%;   height: 100%;   z-index: 1;   background-color: rgba(255,255,255,0.1);   transition: all 0.3s; }
.btn-three:hover::before {   opacity: 0 ;   transform: scale(0.5,0.5); }
.btn-three::after {   content: '';   position: absolute;   top: 0;   left: 0;   width: 100%;   height: 100%;   z-index: 1;   opacity: 0;   transition: all 0.3s;   border: 1px solid rgba(255,255,255,0.5);   transform: scale(1.2,1.2); }
.btn-three:hover::after {   opacity: 1;   transform: scale(1,1); }
/*End Navigation 4 */

/* Navigation 5 */
.nav5 li{position: relative; text-transform: uppercase; text-decoration: none; padding: 15px 40px; border-radius: 100px; transition: all 0.2s; }
.nav5 li::after {   content: "";   display: inline-block;   height: 100%;   width: 100%;   border-radius: 100px;   position: absolute;   top: 0;   left: 0;   z-index: -1;   transition: all 0.4s; background-color: #fff;}
.nav5 li:hover {   transform: translateY(-3px);   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);background-color: #4c72a4; }
.nav5 li:hover::after {   transform: scaleX(1.4) scaleY(1.6);   opacity: 0; }
/* End Navigation 5 */

/* Navigation 6 */
.nav6 li{position: relative;}
.nav6 li::after {   top: 0;   left: 0;   opacity: 0; line-height: 40px;  width: 100%;   color: #323237;   display: block;   transition: 0.5s;   position: absolute;   background: #adadaf;   content: attr(data-back);   transform: translateY(-50%) rotateX(90deg); }
.nav6 li::before{   top: 0;   left: 0;   opacity: 1;   color: #adadaf; display: block; padding: 0 30px; line-height: 40px; transition: 0.5s; position: relative; background: #323237; content: attr(data-front); transform: translateY(0) rotateX(0);}
.nav6 li:hover::after {   opacity: 1;   transform: translateY(0) rotateX(0); }
.nav6 li:hover::before {   opacity: 0;   transform: translateY(50%) rotateX(90deg); }
/* End Navigation 6 */

/* navigation 7 */
.nav7 li{color: #fff; cursor: pointer; font-size: 16px; font-weight: 400; line-height: 45px; margin: 0 0 2em; max-width: 160px; position: relative; text-decoration: none; text-transform: uppercase; width: 100%;overflow: hidden;}
.nav7 li::after {   background: #fff;   content: "";   height: 155px;   left: -75px;   opacity: 0.2;   position: absolute;   top: -50px;   transform: rotate(35deg);   transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);   width: 50px;   z-index: -10; }
.nav7 li:hover::after {   left: 120%;   transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1); }
/* navigation 7 */

